on:
  workflow_call: {}

jobs:
  lint-format-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: yarn
      - name: yarn install
        run: yarn install
      - run: |
          yarn prisma generate
      - name: yarn format:check
        run: yarn format:check
      - name: yarn test
        run: yarn test
