name: janus-trainer-app-pull-requests
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  check:
    uses: ./.github/workflows/check.yaml

  build:
    uses: ./.github/workflows/docker-build.yaml
    secrets:
      aws-ecr-key: ${{ secrets.AWS_ECR_KEY }}
      aws-ecr-secret-access-key: ${{ secrets.AWS_ECR_SECRET_ACCESS_KEY }}

  deploy-cloudformation-test:
    needs:
      - check
    uses: ./.github/workflows/deploy-cloudformation.yaml
    with:
      environment: test
      domain: janus-test.lippert.dev
    secrets:
      aws-ecr-key: ${{ secrets.AWS_ECR_KEY }}
      aws-ecr-secret-access-key: ${{ secrets.AWS_ECR_SECRET_ACCESS_KEY }}
