name: janus-trainer-app-main
on:
  push:
    branches:
      - main

jobs:
  check:
    uses: ./.github/workflows/check.yaml

  build:
    uses: ./.github/workflows/docker-build.yaml
    secrets:
      aws-ecr-key: ${{ secrets.AWS_ECR_KEY }}
      aws-ecr-secret-access-key: ${{ secrets.AWS_ECR_SECRET_ACCESS_KEY }}

  deploy-cloudformation-prod:
    uses: ./.github/workflows/deploy-cloudformation.yaml
    needs:
      - check
    with:
      environment: prod
      domain: jota.sc-janus.de
    secrets:
      aws-ecr-key: ${{ secrets.AWS_ECR_KEY }}
      aws-ecr-secret-access-key: ${{ secrets.AWS_ECR_SECRET_ACCESS_KEY }}
